.jumbotron {
  height: 100vh;
  background-color: #2c91fb;
  padding: 1rem !important;
  align-items: center;
  display: flex;
}

.colText {
  margin-top: -5.5rem;
}

.colText > * {
  color: white;
}

.welcome {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 65px;
  padding-bottom: 0.25rem;
  width: 5rem;
}

.diWebsite {
  font-family: "Mate SC", serif;
  font-size: 1.3rem;
  line-height: 29px;
}

.eskul {
  padding-top: 1rem;
}

.eskul,
.school {
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 25.25px;
}
